/* FREE USER STYLE */

body {
    overflow-x: hidden;
    overflow-y: scroll;
    margin-top: 150px;
}

@media screen and (max-width: 991px) {
    body {
        margin-top: 100px;
    }
}

section {
    margin-top: 15px;
    margin-bottom: 15px;
}

.image-responsive {
    width: 100%;
    margin-bottom: 32px;
}

.color-box {
    height: 100px;
    color: black;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
}

.color-white {
    color: white;
}

.color-black {
    color: black;
}

.color-box p {
    padding-top: 28px;
}

.listagem ul {
    list-style: circle !important;
    margin-left: 20px;
}


/* NOVO */

.color-light {
    color: var(--THEME_COLOR_MODULE_ONE_LIGHT);
}


/* NOVO */

.modal-body {
    padding: 0 1rem;
    margin-top: 0;
}

.align-text-center {
    text-align: center;
}

@media screen and (max-width: 425px) {
    .split_button_rounded .split_button {
        height: 120px;
        width: 120px;
    }
}


/* NOVO */

.tab-content p,
.tab-content ul li,
.tab-content ol li {
    color: white;
}